<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/public/styles/style.css" />
  <link rel="stylesheet" type="text/css" href="/public/styles/space.css" />
  <link href="https://fonts.googleapis.com/css?family=Alata&display=swap" rel="stylesheet">
  <title><%= space.name %></title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">MakersBnB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <% if (user) { %>
        <li class="nav-item">
          <a class="nav-link" href="/list">List a Space</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Log Out</a>
        </li>
        <% }else { %>
        <li class="nav-item">
          <a class="nav-link" href="/list">List a Space </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">Register </a>
        </li>
        <% } %>
      </ul>
      <% if (user){ %>
      <span class="navbar-text" id="usertext"><%= user["firstName"] %></span>
      <% }else { %>
      <span class="navbar-text" id="usertext">Guest</span>
      <% } %>
    </div>
  </nav>

  <img class="img" src="/public/img/house.jpg" class="card-img-top" />
  <div id="content" class="container-fluid">
    <div id="space" class="row">
      <div class="col-md-12 col-lg-8 offset-lg-2">
        <div class="card">
          <h5 class="title"><%= space.name %></h5>
          <p class="owner"><%= space.owner %></p>
          <p class="address"><%= space.address %></p>
          <p class="availability">Available from <span class="start date"><%= space.startDate %></span> until <spa
              class="end date"><%= space.endDate %></span></p>
          <p class="description"><%= space.description %></p>
          <p class="price">£<%= space.price %></p>

          <form method="POST" action="/space/confirmation">
            <div class="form-row">
              <div class="col-md-6 form-group ">
                <label for="checkIn" id="form-label">Check-in:</label>
                <input type="date" class="form-control" name="checkIn">
              </div>
              <div class="col-md-6 form-group ">
                <label for="checkout" id="form-label">Checkout:</label>
                <input type="date" class="form-control" name="checkout">
              </div>
              <div class="form-row row-fluid">
                <div class="form-group dropdown">
                  <button class="text-dark btn btn-secondary btn-lg dropdown-toggle form-group" type="button"
                    id="dropdownMenuAdult" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Number of adults
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">1</a>
                    <a class="dropdown-item" href="#">2</a>
                    <a class="dropdown-item" href="#">3</a>
                    <a class="dropdown-item" href="#">4</a>
                    <a class="dropdown-item" href="#">5</a>
                    <a class="dropdown-item" href="#">6</a>
                    <a class="dropdown-item" href="#">7</a>
                    <a class="dropdown-item" href="#">8</a>
                    <a class="dropdown-item" href="#">9</a>
                  </div>
                </div>
                <div class="form-group dropdown">
                  <button class="text-dark btn btn-secondary btn-lg dropdown-toggle form-group" type=" button"
                    id="dropdownMenuChildren" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Number of Children
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">1</a>
                    <a class="dropdown-item" href="#">2</a>
                    <a class="dropdown-item" href="#">3</a>
                    <a class="dropdown-item" href="#">4</a>
                    <a class="dropdown-item" href="#">5</a>
                    <a class="dropdown-item" href="#">6</a>
                    <a class="dropdown-item" href="#">7</a>
                    <a class="dropdown-item" href="#">8</a>
                    <a class="dropdown-item" href="#">9</a>
                  </div>
                  <br><button type="submit" class="btn btn-primary" id="form-button">Request</button>
                </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>